* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: antiquewhite; */
    /* height: 100; */
    display: flex;
}
.page-divider {
    border: 10px black solid;
    width: 50%;
    height: 100vh ;
}

body .page-divider:first-child{
    background-color: rgb(118, 118, 223);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
form {
    position: absolute;
    /* bottom: 15%; */
    background-color: goldenrod;
    width: 35%;
    height: 4rem;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
 }
 #user-data {
     height: 100%;
     padding: 0 0 0 10px;
 }
body .page-divider:nth-child(2){
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.list-box {
    border: 1px solid black;
    width: 60%;
    height: 85%;
    background-color: rgb(149, 144, 118);
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-list{
    border: 1px solid black;
    width: 90%;
    height: 90%;
}


